@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/*General*/
*{  margin: 0;
    padding:0;
    border:none;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    color:#333F48;
    background-color: white;
}
body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
}